*{
    margin:0;
    padding:0;
    box-sizing: border-box; /* add this one padding doesn't add to element width */
}
section{
    background-image:url(../images/background_image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;/* changed from height to min-height for better conent flow */
    top:0;
    left:0;
    padding-bottom: 20px; /* space for the foter */

}
.container{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:10px;
    max-width:1200px; /* test */
    margin: 20px auto; /* centered container */
    overflow-y: visible;
    min-height: auto;
}
.overlay{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.card{
    background: linear-gradient(130deg, 
    rgba(3, 59, 124,0.6)0%,
    rgba(2, 112, 155,0.6)33%,
    rgba(1, 158, 22,0.6)100%);
    backdrop-filter: blur(5px);
    color:black;
    width: 15rem;
    height: 18rem;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex: 1 1 15rem;
    min-width: 12rem;
    max-width:15rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    z-index:2;
    gap:10px;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);


}
h3 {
    padding:5px;
    font-size: 1.1rem;
    font-family: verdana;
}
.card p{
    font-size: 0.8rem;
    font-family: verdana;
    font-weight: lighter;
}
.container .card:hover{
   transform: scale(1.05) translateZ(10px);
   transition: all 0.5s ease-in-out;
}
.card img{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}
.text-content{
    color:white;
    font-size:2rem;
    margin-bottom:10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index:2;
}
header{
    background: linear-gradient(90deg, 
    rgb(3, 106, 224),
    rgb(157, 0, 189),
    rgb(1, 156, 9),
    rgb(3, 106, 224));
    position: fixed;
    background-size: 300% 100%;
    animation: wave 6s linear infinite;
    z-index:1000;
    width:100%;
    top:0;
    left:0;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
@keyframes wave{
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 100% 0%;
  }
}
footer{
    position: relative; 
    background: linear-gradient(90deg, 
    rgb(3, 59, 124)0%,
    rgb(2, 112, 155)33%,
    rgb(1, 158, 22)100%);
    z-index:10;
    bottom:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px;
    min-height: 7vh;
}

nav a{
    color:white;
    font-family: verdana;
    padding: 10px;
}